[global]
threshold=3600
baseurl=https://tracker.host.com
# See key in https://tracker.hosts.com/my/account
key=myprivateapikey
sentinel=.end.
session_file=/home/psaavedra/.redmine_cmd.session
default_time_entry_activitiy=1

